*{
  margin: 0;
  font-family: Arial;
}
.main-section{
    background-image: url(header-images/amazon-coverpage.jpg);
    height:225px;
    width: 100%;
   background-size: cover;
  padding-bottom: 30px;
  display:flex;
  
  justify-content: center;
  align-items: flex-end;
  
}
main{
  background-color:#E3E6E6 ;
}
.message-box {
  background-color: white;
  color:black;
  font-size:0.85rem;
  margin-bottom: 30px;
 height:40px;
 display:flex;
 width:80%;
 align-items: center;
 justify-content: center;
 align-items: flex-end;

}
/*********************box-section***************/
.shop-box-container{
  background-color:#E3E6E6;
  height:fit-content;
}
.shop-box-container-1{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#E3E6E6;
  height:100%;
  padding-left:5px;
  padding-right: 5px;
}

.shop-box-container-2{
  height:215px;
  background-color: white;
  padding:20px 20px 0px 10px;
  margin-left: 26px;
  margin-right: 26px;
 margin-bottom: 20px;
}
.shop-box-container-2 p{
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 5px;
}
.toy-box{
  padding-top:10px 0px 20px 0px;
  width:100%;
  height:180px;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scrollbar-color: transparent;
}
.toy-box img{
  width:200px;
  height:100%;
 margin-right: 20px;
} 
.shop-box{
  width:350px;
  height:385px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 5px rgba(0 0 0 0.05);
  z-index: 100;
}
.box-div{
  padding-top: 10px;
  margin-bottom: 10px;
  width:100%;
  height:300px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box-div img{
  width:135px;
  height:135px;
}
.shop-box-img{
  width:100%;
  height:300px;
  background-size: cover;
  padding-top: 10px;
  margin-bottom: 10px;
}
.heading{
color:#0f1111;

}
.box h2{
  font-size: 21px;
  font-weight: 700;
  
}
.box{
  margin-left: 1rem;
  margin-right:1rem;
  
}
.line2{
  font-size: 13px;
  margin-top: 15px;
  text-decoration: none;
  color:rgb(0, 79, 207);
}
.box p{
  color:#007185;
  font-size: 13px;
}
.box p:hover{
  color:rgb(204, 84, 84);
}